body {
  font-family: Arial, sans-serif;
  background-color: #c6bebe;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  font-size: 18px;
  background: rgb(122, 101, 101);
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
